vendor
composer.lock
config.php
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
node_modules
nbproject
npm-debug.log
/webroot/data-test.php
cache/*
!cache/.gitkeep