<?php

return array(
	'cache' => false,
	'passcode_file' => '/path/to/gush.passcode.txt',
	'proxy' => 'http://localhost:8443',
	'engines' => array('Torrentz', 'Kat', 'Piratebay'),
	'show_errors' => false
);
